[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"

[dev-packages]
pytest = "*"
pytest-xdist = "*"
mypy = "*"
pipenv-to-requirements = "*"

[requires]
python_version = "3.6"
